        <div class="row">
            <div class="col-md-2"></div>            
            <div id="content">class="col-sm-12 col-md-8">
            </div>
            <div class="col-md-2"></div>
        </div>